.historyPage {
  padding: 2rem;
  min-height: calc(100vh - 200px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
