@font-face {
  font-family: Mont;
  font-weight: 400;
  src: url("../../assets/fonts/Mont-Regular.woff");
}

@font-face {
  font-family: Archivo;
  font-weight: 400;
  src: url("../../assets/fonts/Archivo-Medium.woff");
}

:root {
  --font-mont: Mont;
  --font-archivo: Archivo;
  --primary-dark: #0004;
  --primary-ligth: #fff;
  --black: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Archivo;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}