@font-face {
  font-family: Mont;
  font-weight: 400;
  src: url("../../assets/fonts/Mont-Regular.woff");
}

@font-face {
  font-family: Archivo;
  font-weight: 400;
  src: url("../../assets/fonts/Archivo-Medium.woff");
}

:root {
  --font-mont: Mont;
  --font-archivo: Archivo;
  --primary-dark: #030303;
  --grey: #979797;
  --primary-ligth: #f1f1f1;
  --black: #000;
  --white: #fff;
  --yellow: #f2f99c;
  --purple: #7e52ff;
  --purple-dark: #6545c3;
  --error: #ef233c;

  --sleketon-start: #fffcef;
  --skeleton-middle: #f9f2d8;
  --skeleton-end: #f9efc9;
  --mobile: 475px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Mont;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: url(../../assets/images/main.bg.svg) center center no-repeat;
  background-size: cover;
}

main {
  min-height: 100%;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;

  @media (width <=768px) {
    width: 100%;
  }
}

// .ant-skeleton-content {
//   .ant-skeleton-title {
//     background-image: linear-gradient(90deg,
//         var(--sleketon-start) 25%,
//         var(--skeleton-middle) 55%,
//         var(--skeleton-end) 100%) !important;
//   }
// }