.main {
    align-items: center;

    .swap {
        background-color: red;
    }

    .block,
    .block_reverse {
        width: 100%;
        margin: 4rem 0;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: stretch;

        .img {
            width: max-content;
            height: 14rem;
            border-radius: 0.5rem;
        }

        p {
            line-height: 1.5;
            text-align: left;
        }
    }

    .block_reverse {
        flex-direction: row-reverse;
    }


    @media (width <=768px) {

        .car {
            width: 44rem;
            height: 20rem;
        }

    }

    @media (width <=420px) {

        .car {
            width: 100%;
            height: 20rem;
        }

    }
}