.main {
    @media (width <=768px) {

        .car {
            width: 44rem;
            height: 20rem;
        }

        .dreamCar {
            img {
                width: 100%;
            }
        }
    }

    @media (width <=420px) {

        .car {
            width: 100%;
            height: 20rem;
        }

        .dreamCar {
            img {
                width: 100%;
                height: 20rem;
            }
        }
    }
}