.cardContainer {
    display: flex;
    flex-direction: row;

    .img {
        border-radius: 0.5rem;
    }

    .infoMore {
        margin-left: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;


        .topHolder {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftText {
                display: flex;
                flex-direction: column;

                span {
                    background-color: var(--primary-ligth);
                    border-radius: 0.55rem;
                    padding: 0.25rem 1rem;
                    // width: 100%;
                    text-align: start;
                }

            }
        }

        .bottomHolder {
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            .detailsInfo {
                width: 20rem;
                background-color: var(--primary-ligth);

                p {
                    display: flex;
                    gap: 0.75rem;
                    justify-content: space-between;
                }
            }

            .bottomBtn {
                height: 2.5rem;
                color: var(--black);
                min-width: 8rem;
                border: 0.5px solid var(--black);
            }
        }

    }
}