.headerContainer {
    background-color: var(--primary-dark);
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    .textLogo {
        font-family: var(--font-mont);
        font-size: 24px;
        font-style: italic;
        color: var(--primary-ligth);
    }

    .navigationList {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        list-style: none;
        position: relative;
        right: 5rem;

        a {
            font-size: 18px;
            text-decoration: none;
            color: var(--purple);

            &:hover {
                color: var(--primary-ligth);
                text-decoration: underline;
            }
        }
    }

    .authControlContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}