.headerContainer {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    top: 0;
    z-index: 100;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);

    .textLogo {
        font-family: var(--font-mont);
        font-size: 24px;
        font-style: italic;
        color: var(--primary-ligth);

        @media (width <=768px) {
            width: 100%;
            text-align: center;
        }

    }

    .navigationList {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        left: -5%;
        list-style: none;
        position: relative;

        a {
            font-size: 18px;
            text-decoration: none;
            color: var(--yellow);

            &:hover {
                color: var(--primary-ligth);
                text-decoration: underline;
            }
        }

        @media(width <=768px) {
            display: none;
        }
    }

    .authControlContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        @media(width <=768px) {
            display: none;
        }
    }


}